%section.section-bg-gray.product-services-block
  .row
    %ul.small-12.large-12.text-center
      %li
        = image_tag "/images/features/0001/01/card-for-bt.png" 
        %p
          %strong
            Обслуживание всех кредитов одним платежом
      %li
        = image_tag "/images/features/0001/01/9f800c4f9be48717cc498d61f77015f9289ce066.png" 
        %p
          %strong
            Уменьшение обязательного ежемесячного взноса
      %li
        = image_tag "/images/features/0001/01/0percent-f-bt.png" 
        %p
          %strong
            Бесплатное снятие наличных
      %li
        = image_tag "/images/features/0001/01/70e33c7114d322bf0dff9d49f80ebfba51f92adf.png" 
        %p
          %strong
            Нужен только паспорт
      %li
        = image_tag "/images/features/0001/01/e817a41fb610d4897ddb7c400e58c384c57e512c.png" 
        %p
          %strong
            Без скрытых комиссий и дополнительных расходов