%section.section-bg-gray.padding-70.shadow-inset-top.product-services-block
  .row
    %ul.small-12.large-12.text-center
      %li
        = image_tag "/images/service/0001/01/4322fc0151928bf63b5d092bcc9dee1706a42c15.png" 
        %p
          Бесплатное обслуживание
      %li
        = image_tag "/images/service/0001/01/5b53588e9106b169b5eaa69e432c0ebe9b978b8e.png" 
        %p
          Оплата товаров и услуг, снятие наличных в любой точке планеты
      %li
        = image_tag "/images/service/0001/01/eb12de6ec7c3d747093660d069b837de5174d033.png" 
        %p
          Пополнение наличными без комиссии через Интернет-Банк или широкую сеть банкоматов
      %li
        = image_tag "/images/service/0001/01/98f478843a531b1c7347c4b730dc5a496c33c27c.png" 
        %p
          Доступ с мобильного телефона
      %li
        = image_tag "/images/service/0001/01/3abc04cf5b800199c2f8b3078264c0941e427d0f.png" 
        %p
          Доход на остаток по доходному счету
      %li  
        = image_tag "/images/service/0001/01/7d2e0c50dc4865a7fb298be44ff168c9d8eb5b94.png" 
        %p
          Множество сервисных бонусов