%section.section-bg-gray.padding-70.shadow-inset.product-services-block
  .row
    %ul.small-12.large-12.text-center
      %li
        = image_tag "service/0001/01/3abc04cf5b800199c2f8b3078264c0941e427d0f.png" 
        %p.small
          %strong
            Доходный счет
          %br
          Сохраняйте и приумножайте свои средства. Вы можете легко открывать вклады и управлять ими.
          %a{href: "/dohodny-schet/"}
            Подробнее про вклады
      %li
        = image_tag "service/0001/01/9e5dce81ce7c0e8626c2cb307bc383269fd20985.png" 
        %p.small
          %strong
            Текущий счет
          %br
          Контролируйте свои средства, остатки, выписки, смотрите историю транзакций.
      %li
        = image_tag "service/0001/01/161f5df0cc998a1b43f8836bf30d36231a2d6510.png" 
        %p.small
          %strong
            Цифровая подпись
          %br
          Отправляйте в Банк документы с электронно-цифровой подписью.
      %li
        = image_tag "service/0001/01/2bf11cc8a130261bf38c560b149c67e9cfde5492.png"
        %p.small
          %strong
            Переводы
          %br
          Делайте переводы по шаблонам в Интернет-Банке.
      %li
        = image_tag "service/0001/01/4a3a350d03852f376880f2878e4a186fc65abf60.png" 
        %p.small
          %strong
            Настройки
          %br
          Настраивайте свои счета, карты и вклады онлайн.
      %li  
        = image_tag "service/0001/01/0d098a420932159be6291a5637f6e3bd9e22f9ee.png" 
        %p.small
          %strong
            Конвертация валют
          %br
          Конвертируйте валюту без посещения Банка.


