%section.section-bg-gray.padding-70.shadow-inset.product-services-block
  .row
    %ul.small-12.large-12.text-center
      %li
        = image_tag "service/0001/01/01dcd4ddc0e2be68c31c630fa26274b103ee55e6.png" 
        %p.small
          %strong
            Услуги
          %br
          Быстрая оплата счетов за всевозможные услуги.
      %li
        = image_tag "service/0001/01/fc54847c16b06bed65b11a13a366c739168b5449.png" 
        %p.small
          %strong
            Мобильный счет
          %br
          Легко пополняйте счет мобильного телефона себе или друзьям.
      %li
        = image_tag "service/0001/01/80b0ed15d403e730675195d42b6412b25b923456.png" 
        %p.small
          %strong
            Переводы
          %br
          Делайте переводы другим людям по шаблонам в Интернет-Банке.
          %a{href: "#"}Подробнее про Интернет-Банк
      %li
        = image_tag "service/0001/01/c0149b4c8ab142b67d6417f30808e85920566823.png"
        %p.small
          %strong
            Карты
          %br
          Переводите деньги между счетами и картами.
          %a{href: "#"}Подробнее про карты
      %li
        = image_tag "service/0001/01/0d098a420932159be6291a5637f6e3bd9e22f9ee.png" 
        %p.small
          %strong
            Валюты
          %br
          Переводите средства из одной валюты в другую.
      %li  
        = image_tag "service/0001/01/eb12de6ec7c3d747093660d069b837de5174d033.png" 
        %p.small
          %strong
            Банкоматы
          %br
          Находите ближайшие банкоматы для пополнения счета, где бы вы ни находились.
          %a{href: "#"}Подробнее про пополнение счета


