%section
  .row
    .columns.small-12.text-center.margin-bottom-0
      %h2
        Удобные сервисы, которые дают большие возможности


%section.section-bg-gray.padding-70.shadow-inset.product-services-block
  .row
    %ul.small-12.large-12.text-center
      %li
        = image_tag "/images/service/0001/01/4322fc0151928bf63b5d092bcc9dee1706a42c15.png" 
        %p
          Бесплатное обслуживание
      %li
        = image_tag "/images/service/0001/01/5b53588e9106b169b5eaa69e432c0ebe9b978b8e.png" 
        %p
          Управление в любой точке планеты
      %li
        = image_tag "/images/filer_public/2013/03/30/0e92d4780fac9600f134385d512063b2101941a5_1.png" 
        %p
          Круглосуточно
      %li
        = image_tag "/images/service/0001/01/98f478843a531b1c7347c4b730dc5a496c33c27c.png" 
        %p
          Управление через смартфон
      %li
        = image_tag "/images/service/0001/01/3abc04cf5b800199c2f8b3078264c0941e427d0f.png" 
        %p
          Высокая процентная ставка
      %li  
        = image_tag "/images/service/0001/01/7d2e0c50dc4865a7fb298be44ff168c9d8eb5b94.png" 
        %p
          Множество сервисов в качестве бонусов