%section
  .row
    .columns.small-12.text-center.margin-bottom-0
      %h2
        Оплачивайте услуги онлайн без комиссии

%section.section-bg-gray.padding-70.shadow-inset.product-services-block
  .row
    %ul.small-12.large-12.text-center
      %li
        = image_tag "/images/filer_public/2013/04/12/d53a1fbe70a6a57b84fe218921b89f3bfc83128e.png" 
        %p
          Интернет
      %li
        = image_tag "/images/service/0001/01/1b6ed1b14ff004df69bbe749f06250216a98801e.png" 
        %p
          Мобильный
      %li
        = image_tag "/images/service/0001/01/4882a05579a792dd82020218811370ffb744b11a.png" 
        %p
          Телевидение
      %li
        = image_tag "/images/service/0001/01/ae910d8cc1f19d60abb8af2a161350c1c65d7597.png"
        %p
          Билеты Ж/Д и авиа
      %li
        = image_tag "/images/service/0001/01/d4ddc4264c070dc4114ca7260d8081f1e84d8236.png" 
        %p
          ЖКХ
      %li  
        = image_tag "/images/service/0001/01/820168e0f50e6cac87f1509aaabe30d6fab6c4f4.png" 
        %p
          Другие услуги