%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-1.large-6.text-right
      = image_tag "balance-transfer.e07bd79a20f3.png"
    .columns.small-12.large-5
      %h1
        Кредит Трансфер
      .discription
        %p
          —это возможность получить более привлекательные условия по своим действующим потребительским кредитам или кредитным картам и даже объединить все кредиты в один, заметно снизив при этом ежемесячный платеж.

      .small-12.large-8.large-centered
        %a.button.large.radius.expand{href: "#"}
          Заказать
          %br.hide-for-small
          Кредит
          Трансфер


%section.section-bg-gray.product-features-block
  .row
    %ul.small-12.large-12.text-center
      %li
        = image_tag "/images/features/0001/01/card-for-bt.png" 
        %p
          Обслуживание всех кредитов одним платежом
      %li
        = image_tag "/images/features/0001/01/9f800c4f9be48717cc498d61f77015f9289ce066.png" 
        %p
          Уменьшение обязательного ежемесячного взноса
      %li
        = image_tag "/images/features/0001/01/0percent-f-bt.png" 
        %p
          Бесплатное снятие наличных
      %li
        = image_tag "/images/features/0001/01/70e33c7114d322bf0dff9d49f80ebfba51f92adf.png" 
        %p
          Нужен только паспорт
      %li
        = image_tag "/images/features/0001/01/e817a41fb610d4897ddb7c400e58c384c57e512c.png" 
        %p
          Без скрытых комиссий и дополнительных расходов

%section.product-information-block
  .row
    .columns.small-12

      .section-container.auto{data: {section: ""}}

        %section
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                Основная информация
          .content{data:{section:{content:""}}}
            %table{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody
                %tr
                  %td
                    Ставка по кредиту
                  %td
                    От 18,9% годовых
                    %sup 1
                %tr
                  %td
                    Выпуск и годовое обслуживание карты MasterCard Standard
                  %td
                    БЕСПЛАТНО
                %tr
                  %td
                    Выдача наличных
                  %td
                    БЕСПЛАТНО
                    %sup 2
                %tr
                  %td
                    Погашение кредита
                  %td
                    Ежемесячный платеж — от 1,6%
                    %sup 3
                %tr
                  %td
                    Необходимые документы для оформления
                  %td
                    Только паспорт гражданина РФ

            %div
              %small
                1 — размер процентной ставки определяется Банком индивидуально для каждого заемщика на основании оценки кредитоспособности.
                %br
                2 — в банкоматах и пунктах выдачи наличных Банка бесплатно; в банкоматах и пунктах выдачи наличных сторонних банков первые три операции снятия наличных денежных средств с карты в каждом календарном месяце бесплатно.
                %br
                3 — при условии процентной ставки 18,9% годовых.



        %section
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                Общие требования к заемщику
          .content{data:{section:{content:""}}}
            %table{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody
                %tr
                  %td
                    Гражданство
                  %td
                    РФ
                %tr
                  %td
                    Возраст
                  %td
                    Не менее 23 лет и не более 60 лет
                %tr
                  %td
                    Адрес проживания и работы
                  %td
                    Москва, Санкт-Петербург, Краснодар, Новороссийск
                %tr
                  %td
                    Адрес регистрации
                  %td
                    РФ
                %tr
                  %td
                    Наличие постоянной работы
                  %td
                    Обязательно
                %tr
                  %td
                    Наличие положительной кредитной истории в других банках
                  %td
                    Обязательно

        %section
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                Как погашать кредит
          .content{data:{section:{content:""}}}
            %table{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody
                %tr
                  %td{colspan: "2"}
                    Погашение кредита происходит при зачислении средств на карточный счет клиента
                %tr
                  %td
                    В кассах и банкоматах с функцией приема наличных 2ТБанка
                  %td
                    БЕСПЛАТНО
                %tr
                  %td
                    В кассах и банкоматах с функцией приема наличных «Мастер-Банка»
                  %td
                    БЕСПЛАТНО
                %tr
                  %td
                    Безналичный перевод через Интернет-банк 2ТБанка с другого счета клиента в 2ТБанке
                  %td
                    БЕСПЛАТНО
                %tr
                  %td
                    Безналичный перевод из другой кредитной организации
                  %td
                    По тарифам банка-отправителя

%section.product-documents-block
  .row
    .columns.small-12
      %h1.text-center
        Тарифы и документы
      %ul.documents-block-list
        %li
          %a{href: "#"}
            %i.icon.icon-documents
            %p
              Единые условия КБО ФЛ
        %li
          %a{href: "#"}
            %i.icon.icon-documents
            %p
              Тарифный план «Для Жизни»
        %li
          %a{href: "#"}
            %i.icon.icon-documents
            %p
              Правила выпуска, обслуживания и пользования банковскими картами
        %li
          %a{href: "#"}
            %i.icon.icon-documents
            %p
              Условия предоставления кредита в форме овердрафта к расчетной карте

      %p
        %a{href:"#"}
          Полный список документов для физических лиц

%section.section-bg-yelow.product-questionnaire-block
  .row
    .columns.small-12
      %h1.text-center
        Как получить кредит

      %ul.product-questionnaire-infografic
        %li
          %i.icon.icon-what-watch
          %i.icon.icon-small.icon-what-watch-small
          %p
            %strong
              Заполняйте анкету
            на сайте. Это буквально 4 минуты! (потребуется паспорт)
        %li.arrow.show-for-medium-up
          %i.icon.icon-what-arrow
        %li
          %i.icon.icon-what-phone
          %i.icon.icon-small.icon-what-phone-small
          %p
            Менеджер Банка
            %strong свяжется с вами по телефону.
        %li.arrow.show-for-medium-up
          %i.icon.icon-what-arrow
        %li
          %i.icon.icon-what-document
          %i.icon.icon-small.icon-what-document-small
          %p
            %strong Получите
            свой договор и карту!

%section.product-feedbacks-block
  .row.feeds-block
    .columns.small-3.small-offset-0.large-offset-1.large-2
      %i.icon.icon-cat-feedback
    .columns.small-9.left.text-center.large-7
      %h3 Мы очень постарались для вас. Нравится?
      .addthis_toolbox.addthis_default_style.addthis_32x32_style
        %span.item
          %a.addthis_button_facebook{style: "cursor:pointer", :"addthis:url" => "http://2tbank.ru/"}
        %span.item
          %a.addthis_button_twitter{style: "cursor:pointer", :"addthis:url" => "http://2tbank.ru/"}
        %span.item
          %a.addthis_button_vk{style: "cursor:pointer", :"addthis:url" => "http://2tbank.ru/"}
        %span.item
          %a.addthis_button_odnoklassniki_ru{style: "cursor:pointer", :"addthis:url" => "http://2tbank.ru/"}
      %script{src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50c5f1d012151835", type: "text/javascript"}

  .row.contacts-block
    .columns.small-12
      %h3 Свяжитесь с нами любым удобным способом:
    .columns.small-12.large-3
      .row
        .columns.small-5.large-12
          %h6 Например, по телефону:
        .columns.small-7.large-12
          %h2 8-800-100-94-34
    .columns.small-12.large-3
      %a.button.radius.expand{href: "#"}
        Пожалуйста, перезвоните мне сами
    .columns.small-12.large-3
      %a.button.radius.expand{href: "#"}
        Лучше
        %br.show-for-medium-up
        я позвоню с сайта
    .columns.small-12.large-3
      %a.button.radius.expand{href: "#"}
        Пожалуй, чат со специалистом удобнее


%footer#footer.section-bg-dark-gray
  .row
    .columns.small-3
      %ul
        %li
          %h5 О Банке:
        %li
          %a{href: "#"}
            Основная информация
        %li
          %a{href: "#"}
            Раскрытие информации
        %li
          %a{href: "#"}
            Финансовая отчётность
        %li
          %a{href: "#"}
            Реквизиты
        %li
          %a{href: "#"}
            Справка
        %li
          %a{href: "#"}
            Пресс-центр

    .columns.small-3
      %ul
        %li
          %h5 Для жизни:
        %li
          %a{href: "#"}
            тСчет
        %li
          %a{href: "#"}
            Карты
        %li
          %a{href: "#"}
            Кредитная карта
        %li
          %a{href: "#"}
            Кредит Трансфер
        %li
          %a{href: "#"}
            тВклад
        %li
          %a{href: "#"}
            Вклад на срок
        %li
          %a{href: "#"}
            Сейфовые ячейки
        %li
          %a{href: "#"}
            Ипотека
        %li
          %a{href: "#"}
            Доли в фонде недвижимости
        %li
          %a{href: "#"}
            Мобильный банк
        %li
          %a{href: "#"}
            Пополнение счета
        %li
          %a{href: "#"}
            Снятие наличных

    .columns.small-3
      %ul
        %li
          %h5 Для бизнеса:
        %li
          %a{href: "#"}
            Расчетный счет
        %li
          %a{href: "#"}
            Карта для инкассации
        %li
          %a{href: "#"}
            Бизнес-карта
        %li
          %a{href: "#"}
            Торговый эквайринг
        %li
          %a{href: "#"}
            Интернет-эквайринг
        %li
          %a{href: "#"}
            Зарплатный проект
        %li
          %a{href: "#"}
            Доходный счет
        %li
          %a{href: "#"}
            Вклад на срок
        %li
          %a{href: "#"}
            Овердрафт
        %li
          %a{href: "#"}
            SMS-информирование
        %li
          %a{href: "#"}
            Документы и тарифы

    .columns.small-3
      %ul
        %li
          %h5 Для связи:
        %li
          %a{href: "#"}    
            Контакты
        %li
          %a{href: "#"}
            Интернет-Банк

  .row
    .columns.small-2.large-1.text-center
      %a#link-scroll-top{href: "#"}
        %i.icon.icon-arrow-top-black
        %p Наверх
    .columns.small-10.small-offset-0.large-3.large-offset-8
      %small
        2TBank.ru и 2Т Банк являются торговыми марками Банк – Т (ОАО).
        %br.show-for-medium-up
        Лицензия Банка России №625





