= render template: "business/blocks/product_banner/business_card"
= render template: "business/blocks/under_banner/index"

%section.padding-40
  .row
    .columns.small-12.text-center
      %h2.margin-bottom-20
        Преимущества, которые вы получаете с Бизнес-картой
  .row.large-text-centred
    .columns.small-12.large-centered.large-12
      .row
        .columns.large-2.small-12.large-offset-1
          .row
            .columns.small-2.large-12
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/03/6cf876deeca81b5364fbcc5832678d2e405cad7e.png__70x70_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %h4
                Просто
              %p.small
                Легкость оплаты хозяйственных, представительских и&nbsp;командировочных расходов
        .columns.large-2.small-12
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/03/20d8bb855a5f6d200d765f118c76d55ced66dfce.png__160x160_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %h4
                Удобно
              %p.small
                При выезде за&nbsp;границу не&nbsp;нужно декларировать иностранную валюту 
        .columns.large-2.small-12
          .row
            .columns.small-2.large-12      
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/03/5b53588e9106b169b5eaa69e432c0ebe9b978b8e.png__70x70_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %h4
                Без границ
              %p.small
                Получение наличных средств на&nbsp;потребности организации в&nbsp;любой точке планеты в&nbsp;любой валюте 
        .columns.large-2.small-12
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/03/a0e7d14bc1aded5f6f07e1c781d8c9ccfc875586.png__70x70_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %h4
                Практично
              %p.small
                Выпуск несколько карт на&nbsp;разных сотрудников, для удобства и&nbsp;быстроты оплаты различных расходов 
        .columns.large-2.small-12.left
          .row
            .columns.small-2.large-12         
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/03/9f800c4f9be48717cc498d61f77015f9289ce066.png__160x160_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %h4
                Безопасно 
              %p.small
                Вы&nbsp;сами определяете расходные лимиты по&nbsp;всем Бизес-картам вашей компании

%section.padding-40
  .row
    .columns.small-12.text-center
      %h2.margin-bottom-20
        Удобные сервисы, которые дают большие возможности
  .row.large-text-centred
    .columns.small-12.large-centered.large-10
      .row
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/01/0363ab83e15a60043b4452f5d2d4b0bb3fea1153.png__160x160_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %p.small
                Услуга SMS-информирования позволит вам контролировать в&nbsp;он-лайн режиме транзакции по&nbsp;всем картам
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/03/15d7b8ad070e778ca90145a3767d23160e1d13d0.png__160x160_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %p.small
                При наличии у&nbsp;Вашей компании нескольких Бизнес карт детализированная выписка по&nbsp;каждой карте позволит легко учесть все операции
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12      
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/01/bb84577178f1ae0796a9bf9526c00f28a0f7c83c.png__70x70_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %p.small
                Управление счетом карты через систему Интернет-Банк в&nbsp;режиме 24/7 без посещения офиса банка
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/03/3c0788e5ebe2b8eaf18285f01ed8a770074f2851.png__160x160_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %p.small
                Клиентская поддержка. Мы&nbsp;всегда отвечаем на&nbsp;запросы клиентов, и&nbsp;решаем любые вопросы максимально быстро 

= render template: "business/blocks/product_documents/encashment_card"

%section.section-bg-blue-business.product-questionnaire-block.shadow-inset-top
  .row
    .columns.small-12
      %h1.text-center
        Как получить Бизнес-карту
      %ul.product-questionnaire-infografic
        %li
          %i.icon.icon-what-time-white
          %i.icon.icon-small.icon-what-time-white-small
          %p
            Заполняйте анкету на сайте. Это буквально 1 (одна!) минута
        %li.arrow.show-for-medium-up
          %i.icon.icon-what-arrow-white
        %li
          %i.icon.icon-what-mobile-white
          %i.icon.icon-small.icon-what-mobile-white-small
          %p
            Мы позвоним Вам и откроем уникальную карту для потребностей вашего бизнеса
        %li.arrow.show-for-medium-up
          %i.icon.icon-what-arrow-white
        %li
          %i.icon.icon-what-case-white
          %i.icon.icon-small.icon-what-case-white-small
          %p
            Вы получите простой и удобный способ расплачиваться средствами со счета в любой стране мира

  = render template: "business/blocks/product_questionnaire/anket_type/business"

%section.section-bg-white.padding-top-200
  = render template: "business/blocks/product_feedbacks/normal"