= render template: "business/blocks/product_banner/encashment_card"
= render template: "business/blocks/under_banner/index"

%section.padding-40
  .row
    .columns.small-12.text-center
      %h2.margin-bottom-20
        Преимущества, которые вы получаете с Картой инкассации
  .row.large-text-centred
    .columns.small-12.large-centered.large-10
      .row
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/03/a54a0d6ad3e89cd0858dbe3511bddb45f2338985.png__160x160_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %h4
                Больше свободы
              %p.small
                Производите инкассацию неограниченное количество раз в&nbsp;любое удобное вам время
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/12/cashin0a06edaf7f8f69b10a4f5c36df08e4b93.png__75x75_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %h4
                Больше безопасности
              %p.small
                Уменьшайте риски, неизбежно возникающие при транспортировке средств, внося выручку на&nbsp;счет через банкоматы
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12      
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/12/d53a1fbe70a6a57b84fe218921b89f3bfc83128e.png__70x70_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %h4
                Больше возможностей
              %p.small
                Осуществляйте безналичные платежи через Интернет-Банк за&nbsp;счет внесенных средств уже на&nbsp;следующий день
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/03/a0e7d14bc1aded5f6f07e1c781d8c9ccfc875586.png__70x70_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %h4
                Больше удобства
              %p.small
                Закажите несколько карт на&nbsp;разных сотрудников, и&nbsp;инкассируйте выручку в&nbsp;нескольких торговых точках

%section.padding-40
  .row
    .columns.small-12.text-center
      %h2.margin-bottom-20
        Удобные сервисы, которые дают большие возможности
  .row.large-text-centred
    .columns.small-12.large-centered.large-10
      .row
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/01/0363ab83e15a60043b4452f5d2d4b0bb3fea1153.png__160x160_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %p.small
                Услуга SMS-информирование дает возможность получать SMS с оповещением о пополнении счета сразу после зачисления средств на счет
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/03/15d7b8ad070e778ca90145a3767d23160e1d13d0.png__160x160_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %p.small
                Получайте детализированные выписки по каждой отдельной карте при наличии у вашей компании нескольких карт для инкассации
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12      
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/03/67f932a81f4ccafe6547ae75372d9e4ec832a068.png__160x160_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %p.small
                Используйте внесенные денежные средства для расчетов с помощью Бизнес-карты
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/01/bb84577178f1ae0796a9bf9526c00f28a0f7c83c.png__70x70_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %p.small
                Управление счетом карты через систему Интернет-банк в режиме 24/7 без посещения офиса банка

= render template: "business/blocks/product_documents/encashment_card"

%section.section-bg-blue-business.product-questionnaire-block.shadow-inset-top
  .row
    .columns.small-12
      %h1.text-center
        Как получить Карту инкассации
      %ul.product-questionnaire-infografic
        %li
          %i.icon.icon-what-time-white
          %i.icon.icon-small.icon-what-time-white-small
          %p
            Заполняйте анкету на сайте. Это буквально 1 (одна!) минута
        %li.arrow.show-for-medium-up
          %i.icon.icon-what-arrow-white
        %li
          %i.icon.icon-what-mobile-white
          %i.icon.icon-small.icon-what-mobile-white-small
          %p
            Мы позвоним Вам, откроем уникальную карту и научим осуществлять с ее помощью инкассацию
        %li.arrow.show-for-medium-up
          %i.icon.icon-what-arrow-white
        %li
          %i.icon.icon-what-case-white
          %i.icon.icon-small.icon-what-case-white-small
          %p
            Вы получите карту для удобного и безопасного внесения торговой выручки на счет

  = render template: "business/blocks/product_questionnaire/anket_type/business"

%section.section-bg-white.padding-top-200
  = render template: "business/blocks/product_feedbacks/normal"