= render template: "business/blocks/product_banner/index"
= render template: "business/blocks/under_banner/index"
%section.section-bg-gray.padding-40
  = render template: "shared/contacts"

%section.section-bg-gray.padding-50.shadow-inset.section-proposals
  .row
    .columns.small-4.small-offset-1.hide-for-small
      %a{href: "/business/schet-dlya-biznesa/"}
        =image_tag "/media/filer_public_thumbnails/filer_public/2013/05/17/box_schet.png__336x300_q85_crop_upscale.png"
    .columns.large-6.large-offset-0.left.text-center.small-10.small-offset-1
      %h1
        %a{href: "/business/schet-dlya-biznesa/"} Счет для бизнеса
      %p
        Расчетный счет для вашего бизнеса с безопасным доступом через Интернет-Банк.

      %a.button.small{href: "/business/schet-dlya-biznesa/", title: "Счет для бизнеса"} Расскажите подробнее

%section.section-bg-gray.padding-50.shadow-inset.section-proposals
  .row
    .columns.large-6.large-offset-0.left.text-center.small-10.small-offset-1
      %h1
        %a{href: "/business/salary/"} Зарплатный проект
      %p
        Современный и удобный способ выплаты заработной платы вам и сотрудникам вашей компании без комиссий.

      %a.button.small{href: "/business/salary/", title: "Зарплатный проект"} Расскажите подробнее
    .columns.small-4.small-offset-1.hide-for-small
      %a{href: "/business/salary/"}
        =image_tag "/media/filer_public_thumbnails/filer_public/2013/05/17/box_zp-b.png__336x300_q85_crop_upscale.png"

%section.section-bg-gray.padding-50.shadow-inset.section-proposals
  .row
    .columns.small-4.small-offset-1.hide-for-small
      %a{href: "/business/overdraft/"}
        =image_tag "/media/filer_public_thumbnails/filer_public/2013/05/17/box_over.png__336x300_q85_crop_upscale.png"
    .columns.large-6.large-offset-0.left.text-center.small-10.small-offset-1
      %h1
        %a{href: "/business/overdraft/"} Овердрафт
      %p
        Предоставляется сразу при открытии расчетного счета в 2ТБанке без дополнительных документов и проверок.

      %a.button.small{href: "/business/overdraft/", title: "Овердрафт"} Расскажите подробнее

%section.section-bg-blue-business.product-questionnaire-block.shadow-inset
  .row
    .columns.small-12
      %h1.text-center
        Как стать клиентом Банка

      %ul.product-questionnaire-infografic
        %li
          %i.icon.icon-what-time-white
          %i.icon.icon-small.icon-what-time-white-small
          %p
            Заполняйте анкету на сайте. Это буквально 1 (одна!) минута
        %li.arrow.show-for-medium-up
          %i.icon.icon-what-arrow-white
        %li
          %i.icon.icon-what-mobile-white
          %i.icon.icon-small.icon-what-mobile-white-small
          %p
            Мы позвоним Вам и поможем подготовить документы
        %li.arrow.show-for-medium-up
          %i.icon.icon-what-arrow-white
        %li
          %i.icon.icon-what-case-white
          %i.icon.icon-small.icon-what-case-white-small
          %p
            Вы получите действующий расчетный счет с подключенной системой Интернет-банк

  = render template: "business/blocks/product_questionnaire/business"

%section.section-bg-gray.padding-top-200
  = render template: "shared/feeds"
