= render template: "business/blocks/product_banner/salary"
= render template: "business/blocks/under_banner/index"

%section.padding-40
  .row
    .columns.small-12.text-center
      %h2.margin-bottom-20
        Преимущества, которые Вы получаете с Зарплатным проектом
  .row.large-text-centred
    .columns.small-12.large-centered.large-10
      .row
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/03/b777efff2d520b2a3548e7ea319943e2657c7e2f.png__160x160_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %h4
                Больше дохода
              %p.small
                Вы&nbsp;будете эффективнее управлять бизнесом при сокращении нагрузки на&nbsp;бухгалтерию и&nbsp;меньшем количестве кассовых операций
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/09/e80b1128e5124b2999a8f16edab5733246530e68.png__160x160_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %h4
                Больше безопасности
              %p.small
                Снижение рисков и&nbsp;расходов, связанных с&nbsp;получением, инкассацией и&nbsp;хранением наличных денежных средств для выплаты заработной платы
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12      
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/03/67f932a81f4ccafe6547ae75372d9e4ec832a068.png__160x160_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %h4
                Больше возможностей
              %p.small
                Бесплатный выпуск и&nbsp;обслуживание: MasterCard Gold&nbsp;— для руководителя и&nbsp;MasterCard Standard&nbsp;— для сотрудников
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/03/15d7b8ad070e778ca90145a3767d23160e1d13d0.png__160x160_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %h4
                Больше удобства
              %p.small
                Получить карты вы&nbsp;сможете у&nbsp;себя в&nbsp;офисе благодаря курьерской доставке 2ТБанка

%section.padding-40
  .row
    .columns.small-12.text-center
      %h2.margin-bottom-20
        Преимущества, которые получат Ваши сотрудники
  .row.large-text-centred
    .columns.small-12.large-centered.large-10
      .row
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/03/25ece277a23495b1e06d606b1aeb8dee3048c99f.png__160x160_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %p.small
                Заработная плата будет регулярно поступать на&nbsp;карты сотрудников вне зависимости от&nbsp;их&nbsp;местонахождения
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/03/093e57865775cfd9d1f481ec1941c10b7560d2bc.png__160x160_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %p.small
                Сотрудники смогут снимать наличные денежные средства без комиссии в&nbsp;любом банкомате мира
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12      
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/09/9b6fc27a0d92ad8a94a3408b50178206fc2c10ca.png__160x160_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %p.small
                Бесплатный Интернет-Банк и&nbsp;Мобильный банк&nbsp;— для управления своим счетом и&nbsp;осуществления платежей
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/04/01/0363ab83e15a60043b4452f5d2d4b0bb3fea1153.png__160x160_q85_crop_upscale.png", :style => "width:70px"
            .columns.small-10.large-12
              %p.small
                SMS-информирование о&nbsp;списаниях и&nbsp;зачислениях по&nbsp;счету для владельцев карт

= render template: "business/blocks/product_documents/salary"

%section.section-bg-blue-business.product-questionnaire-block.shadow-inset-top
  .row
    .columns.small-12
      %h1.text-center
        Как подключить Зарплатный проект
      %ul.product-questionnaire-infografic
        %li
          %i.icon.icon-what-time-white
          %i.icon.icon-small.icon-what-time-white-small
          %p
            Заполняйте анкету на сайте. Это буквально 1 (одна!) минута
        %li.arrow.show-for-medium-up
          %i.icon.icon-what-arrow-white
        %li
          %i.icon.icon-what-mobile-white
          %i.icon.icon-small.icon-what-mobile-white-small
          %p
            Мы позвоним вам и бесплатно выпустим зарплатные карты для вас и ваших сотрудников
        %li.arrow.show-for-medium-up
          %i.icon.icon-what-arrow-white
        %li
          %i.icon.icon-what-case-white
          %i.icon.icon-small.icon-what-case-white-small
          %p
            А Вы получите эффективный способ выплаты заработной платы

  = render template: "business/blocks/product_questionnaire/anket_type/business"

%section.section-bg-white.padding-top-200
  = render template: "business/blocks/product_feedbacks/normal"