= render template: "live/blocks/product_banner/credit_account"

= render template: "live/blocks/product_services/credit_account"

= render template: "live/blocks/product_information/credit_account"

= render template: "live/blocks/product_documents/credit_account"

= render template: "live/blocks/product_questionnaire/credit_account"

= render template: "live/blocks/product_feedbacks/credit_account"
