= render template: "live/blocks/product_banner/credit_transfer"

= render template: "live/blocks/product_services/credit_transfer"

= render template: "live/blocks/product_information/credit_transfer"

= render template: "live/blocks/product_documents/credit_transfer"

= render template: "live/blocks/product_questionnaire/credit_transfer"

= render template: "live/blocks/product_feedbacks/credit_transfer"