= render template: "shared/product_banner/credit_transfer"

= render template: "shared/product_services/credit_transfer"

= render template: "shared/product_information/credit_transfer"

= render template: "shared/product_documents/credit_transfer"

= render template: "shared/product_questionnaire/credit_transfer"

= render template: "shared/product_feedbacks/credit_transfer"