= render template: "shared/product_banner/debetovye_karty"

= render template: "shared/product_services/debetovye_karty"

= render template: "shared/product_information/credit_transfer"

= render template: "shared/product_documents/credit_transfer"

= render template: "shared/product_questionnaire/credit_transfer"

= render template: "shared/product_feedbacks/credit_transfer"