= render template: "shared/product_banner/debetovye_karty"

%section
  .row
    .columns.small-12.text-center
      %h2 Карта — доступ ко всем преимуществам 2TБанка

= render template: "shared/product_services/debetovye_karty"

= render template: "shared/product_information/credit_transfer"

= render template: "shared/product_documents/credit_transfer"

= render template: "shared/product_questionnaire/credit_transfer"

= render template: "shared/product_feedbacks/credit_transfer"