= render template: "live/blocks/product_banner/mobile"

= render template: "live/blocks/under_banner/index"

= render template: "live/blocks/product_services/mobile"

%section.padding-40

  .row
    .columns.small-10.small-centered
      .row.text-center
        .columns.small-4
          %p
            =image_tag "features/0001/01/7633b1ae1458d65bb14ac46bd41dc40ed2ee7d2c.png"
        .columns.small-4          
          %p
            =image_tag "features/0001/01/d93a88228439a39bb28e65a8d7872b29276cead5.png"
        .columns.small-4          
          %p
            =image_tag "features/0001/01/26e08f2f0d6900396c75884c1cdf022d599cecf9.png"

      .row.text-center
        .columns.small-4
          %h4
            Больше мобильности
          %p.small
            Мобильный сервис работает везде, где есть Интернет. Это делает вас абсолютно свободным. Все вопросы теперь решаются онлайн.
        .columns.small-4
          %h4
            Больше времени
          %p.small
            Круглосуточный доступ без выходных и легкие инструменты оплаты созданы, чтобы у вас было больше времени для себя.
        .columns.small-4
          %h4
            Больше контроля
          %p.small
            Звоните в любое время из любого места. Мы всегда быстро ответим по телефону, через браузер или в чате.

%section
  .row
    .columns.small-10.small-centered
      .row.padding-40
        .columns.small-7.text-center.padding-top-180
          %h2
            Мобильный сервис
          %p
            Работает везде, 24/7, без выходных и праздников.
          %p
            Вы также всегда можете управлять своими счетами через Интернет-Банк.
            %br
            %a{href: "/internet-bank/"}
              Подробнее про Интернет-Банк.
        .columns.small-5
          =image_tag "features/0001/01/2ed6946e91286e9ec3ffb6b48f19ad7213112c7d.png"

%section.padding-40

  .row
    .columns.small-10.small-centered
      .row.text-center
        .columns.small-4.small-offset-2
          %p
            =image_tag "features/0001/01/6519c951974bcf25e7d3998324563b3e7a66cc0c.png"
        .columns.small-4.left
          %p
            =image_tag "features/0001/01/a9455c967080af10231bf2d513ddfe02c6483a4b.png"

      .row.text-center
        .columns.small-4.small-offset-2
          %p
            %strong
              %a{href: "https://play.google.com/store/apps/details?id=ru.ftc.faktura.bankt"}
                Скачать приложение для Android
        .columns.small-4.left
          %p
            %strong
              %a{href: "https://itunes.apple.com/ru/app/bank-2t/id517210131"}
                Скачать приложение для iPhone, iPad, iPod

= render template: "live/blocks/product_questionnaire/mobile"

%section.padding-top-200

= render template: "live/blocks/product_feedbacks/credit_transfer"
