= render template: "live/blocks/product_banner/safebox"

= render template: "live/blocks/under_banner/index"

%section.padding-40
  .row
    .columns.small-10.text-center.margin-bottom-35.small-offset-1
      %h2
        Вы получите беспрепятственный доступ к вашей ячейке в течение каждого рабочего дня банка.
    .columns.small-10.small-centered
      .row.padding-40.margin-bottom-30
        .columns.small-5
          =image_tag "/images/features/0001/01/4e6cf49c59ac815bd68eb3fd4533f77dc26f2ae2.png"
        .columns.small-7.text-center.padding-90
          %h2
            Сейф-пенал
          %p
            В такой ячейке вы можете хранить драгоценности и другие небольшие, но важные для вас вещи.

      .row.padding-40.margin-bottom-30
        .columns.small-7.text-center.padding-90
          %h2
            Формат A4
          %p
            Этот размер идеально подойдет для хранения документов.
        .columns.small-5
          =image_tag "/images/features/0001/01/f7f8dba5a66cc018180dd38f66562a25453d247d.png"

      .row.padding-40
        .columns.small-5
          =image_tag "/images/features/0001/01/bf6ccb8e4831e239644864670ef588c0aa0c3838.png"
        .columns.small-7.text-center.padding-90
          %h2
            Большие сейфы
          %p
            Размер больших ячеек оптимален для хранения дипломатов, кейсов и портфелей.

%section
  .row
    .columns.small-12.text-center
      %h2.margin-bottom-20
        Пользуйтесь преимуществами сейфовых ячеек 2ТБанка

  .row
    .columns.small-10.small-centered
      .row.text-center
        .columns.small-3
          %p
            =image_tag "features/0001/01/28d2b3f66aa5b7f035160fa9c886af916e1e0fce.png"
        .columns.small-3          
          %p
            =image_tag "features/0001/01/e80b1128e5124b2999a8f16edab5733246530e68.png"
        .columns.small-3          
          %p
            =image_tag "features/0001/01/202c77ae7aad5b294a7bfeff8556dddd1e809465.png"
        .columns.small-3          
          %p
            =image_tag "features/0001/01/b6931e11340947f9126040403a95b2c75f4397d6.png"

      .row.text-center
        .columns.small-3
          %h4 Круглосуточная охрана
          %p.small
            24 часа в сутки ваши ценности находятся под надежной охраной cлужбы безопасности 2ТБанка.
        .columns.small-3
          %h4 Надежная защита
          %p.small
            Хранилище сертифицировано по высшему классу безопасности и оборудовано современными системами наблюдения и сигнализации.
        .columns.small-3
          %h4 Совместный доступ
          %p.small
            Вы можете доверить доступ к своей ячейке доверенному лицу. Но никто кроме вас и вашего доверенного лица не сможет воспользоваться ключом.
        .columns.small-3
          %h4 От дня до года
          %p.small
            Арендуйте ячейки на любой срок от 1 дня до 1 года. При продлении аренды предусмотрены гибкие условия получения скидок.

= render template: "live/blocks/product_information/safebox"

= render template: "live/blocks/product_documents/safebox"

= render template: "live/blocks/product_questionnaire/safebox"

%section.padding-top-200
= render template: "live/blocks/product_feedbacks/credit_transfer"
