= render template: "live/blocks/product_banner/safebox"

%section.padding-40
  .row
    .columns.small-10.text-center.margin-bottom-35.small-offset-1
      %h2
        Вы получите беспрепятственный доступ к вашей ячейке в течение каждого рабочего дня банка.
    .columns.small-10.small-centered
      %table.no-base-strips{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
        %tbody.text-center
          %tr
            %td{style: "border:0"}
              =image_tag "/images/features/0001/01/4e6cf49c59ac815bd68eb3fd4533f77dc26f2ae2.png"
            %td.padding-side-20{style: "border:0"}
              %h2
                Сейф-пенал
              %p
                В такой ячейке вы можете хранить драгоценности и другие небольшие, но важные для вас вещи.
          %tr
            %td.padding-side-20{style: "border:0"}
              %h2
                Формат A4
              %p
                Этот размер идеально подойдет для хранения документов.
            %td{style: "border:0"}
              =image_tag "/images/features/0001/01/f7f8dba5a66cc018180dd38f66562a25453d247d.png"
          %tr
            %td{style: "border:0"}
              =image_tag "/images/features/0001/01/bf6ccb8e4831e239644864670ef588c0aa0c3838.png"
            %td.padding-side-20{style: "border:0"}
              %h2
                Большие сейфы
              %p
                Размер больших ячеек оптимален для хранения дипломатов, кейсов и портфелей.

%section.padding-40
  .row
    .columns.small-12.text-center
      %h2.margin-bottom-20
        Пользуйтесь преимуществами сейфовых ячеек 2ТБанка
  .row.large-text-centred
    .columns.small-12.large-centered.large-10
      .row
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12
              %p
                =image_tag "features/0001/01/28d2b3f66aa5b7f035160fa9c886af916e1e0fce.png", :style => "width:160px"
            .columns.small-10.large-12
              %h4
                Круглосуточная охрана
              %p.small
                24&nbsp;часа в&nbsp;сутки ваши ценности находятся под надежной охраной cлужбы безопасности 2ТБанка.
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12 
              %p
                =image_tag "features/0001/01/e80b1128e5124b2999a8f16edab5733246530e68.png", :style => "width:160px"
            .columns.small-10.large-12
              %h4
                Надежная защита
              %p.small
                Хранилище сертифицировано по&nbsp;высшему классу безопасности и&nbsp;оборудовано современными системами наблюдения и&nbsp;сигнализации.
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12
              %p
                =image_tag "features/0001/01/202c77ae7aad5b294a7bfeff8556dddd1e809465.png", :style => "width:160px"
            .columns.small-10.large-12
              %h4
                Совместный доступ
              %p.small
                Вы&nbsp;можете доверить доступ к&nbsp;своей ячейке доверенному лицу. Но&nbsp;никто кроме вас и&nbsp;вашего доверенного лица не&nbsp;сможет воспользоваться ключом.
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12
              %p
                =image_tag "features/0001/01/b6931e11340947f9126040403a95b2c75f4397d6.png", :style => "width:160px"
            .columns.small-10.large-12
              %h4
                От дня до года
              %p.small
                Арендуйте ячейки на&nbsp;любой срок от&nbsp;1&nbsp;дня до&nbsp;1&nbsp;года. При продлении аренды предусмотрены гибкие условия получения скидок.

= render template: "live/blocks/product_information/safebox"

= render template: "live/blocks/product_documents/safebox"

= render template: "live/blocks/product_questionnaire/safebox"

%section.padding-top-200
= render template: "live/blocks/product_feedbacks/credit_transfer"
