= render template: "live/blocks/product_banner/vklad_na_srok"

%section.section-bg-gray
  .row.calculator
    .columns.small-12.large-centered.large-11.padding-top-20
      .row
        .columns.large-12
          %h1.text-center
            Калькулятор вклада
      .row.section-chars-block.padding-0
        .columns.large-7.small-12.margin-bottom-50
          %form.custom.columns.small-centered.large-uncentered
            .padding-20.border-bottom
              %h2
                Я вкладываю
                %select#calc_select_currency.medium
                  %option{value:"rur"}
                    рубли
                  %option{value:"usd"}
                    доллары
                  %option{value:"eur"}
                    евро
                %br
                в размере
                %strong#calc_summ
                  0
              .sliderBlock
                .progress-bar-block
                  #slider1.noUiSlider
                  %ul.row.text-center.progress-steps.summ_slider.rur.hidden
                    %li.columns.small-3.item.item-1{style:"width:121px"}
                      10 000 RUR
                    %li.columns.small-3.item.item-2{style:"width:146px"}
                      200 000 RUR
                    %li.columns.small-3.item.item-3{style:"width:108px"}
                      1 000 000 RUR
                    %li.columns.small-3.item.item-4{style:"width:auto"}
                      10 000 000 RUR
                  %ul.row.text-center.progress-steps.summ_slider.usd.hidden
                    %li.columns.small-3.item.item-1{style:"width:121px"}
                      500 USD
                    %li.columns.small-3.item.item-2{style:"width:146px"}
                      10 000 USD
                    %li.columns.small-3.item.item-3{style:"width:108px"}
                      50 000 USD
                    %li.columns.small-3.item.item-4{style:"width:auto"}
                      400 000 USD
                  %ul.row.text-center.progress-steps.summ_slider.eur.hidden
                    %li.columns.small-3.item.item-1{style:"width:121px"}
                      500 EUR
                    %li.columns.small-3.item.item-2{style:"width:146px"}
                      10 000 EUR
                    %li.columns.small-3.item.item-3{style:"width:108px"}
                      50 000 EUR
                    %li.columns.small-3.item.item-4{style:"width:auto"}
                      400 000 EUR
            .padding-20.border-bottom
              %h2
                На срок 
                %span#calc_month
                  0
                мес. под 
                %span.blue#calc_percent
                  0 %
              .sliderBlock
                .progress-bar-block
                  #slider2.noUiSlider
                  %ul.row.text-center.progress-steps
                    %li.columns.small-3.item.item-1{style:"width:133px"}
                      2 мес.
                    %li.columns.small-3.item.item-2{style:"width:153px"}
                      4 мес.
                    %li.columns.small-3.item.item-3{style:"width:125px"}
                      6 мес.
                    %li.columns.small-3.item.item-4{style:"width:auto"}
                      12 мес.
            .padding-20.border-bottom
              %h2
                Ежемесячно пополняю
                %br
                на сумму
                %strong#calc_addsumm
                  0
              .sliderBlock
                .progress-bar-block
                  #slider3.noUiSlider
                  %ul.row.text-center.progress-steps.addsumm_slider.rur.hidden
                    %li.columns.small-3.item.item-1{style:"width:108px"}
                      0 RUR
                    %li.columns.small-3.item.item-2{style:"width:133px"}
                      30 000 RUR
                    %li.columns.small-3.item.item-3{style:"width:143px"}
                      60 000 RUR
                    %li.columns.small-3.item.item-4{style:"width:auto"}
                      90 000 RUR
                  %ul.row.text-center.progress-steps.addsumm_slider.usd.hidden
                    %li.columns.small-3.item.item-1{style:"width:108px"}
                      0 USD
                    %li.columns.small-3.item.item-2{style:"width:135px"}
                      1 000 USD
                    %li.columns.small-3.item.item-3{style:"width:145px"}
                      2 000 USD
                    %li.columns.small-3.item.item-4{style:"width:auto"}
                      3 000 USD
                  %ul.row.text-center.progress-steps.addsumm_slider.eur.hidden
                    %li.columns.small-3.item.item-1{style:"width:108px"}
                      0 EUR
                    %li.columns.small-3.item.item-2{style:"width:135px"}
                      1 000 EUR
                    %li.columns.small-3.item.item-3{style:"width:145px"}
                      2 000 EUR
                    %li.columns.small-3.item.item-4{style:"width:auto"}
                      3 000 EUR
            .padding-top-20
              %h2
                %span.radio-block
                  Хочу:
                %span.padding-side-20.radio-block
                  %label{for:"hold_percent_y"}
                    накапливать проценты
                    %input#hold_percent_y{type:"radio",name:"calc_hold_percent",checked:"checked"}
                  %label{for:"calc_hold_percent"}
                    снимать ежемесячно
                    %input#calc_hold_percent{type:"radio",name:"calc_hold_percent"}

        .columns.large-5.small-12.margin-bottom-50.text-center.padding-20
          .wallet-wrapper.columns.small-centered.large-uncentered
            %h2
              Вы получаете за 
              %strong.blue#calc_total_month
            .wallet
              .wallet_t
                %h2.receipt_t#calc_total_sum
              .wallet_c
                #calc_property
              .wallet_b
                .receipt_b#deposit_receipt_b
                  %p
                    %span.muted.small
                      Вклад:
                    %strong#calc_total_vklad
                  %p
                    %span.small
                      %span.muted
                        За
                      %span#calc_total_month_2
                      %span.muted
                        начислено процентов:
                    %strong#calc_total_percent

:javascript
  depositCalculatorSummRates = {
    'rur': [
      10000,
      25000,
      50000,
      75000,
      100000,
      200000,
      300000,
      400000,
      500000,
      700000,
      1000000,
      2000000,
      3000000,
      5000000,
      7000000,
      10000000
    ],
    'usd': [
      500,
      1000,
      2500,
      5000,
      7500,
      10000,
      15000,
      20000,
      30000,
      40000,
      50000,
      80000,
      100000,
      200000,
      300000,
      400000
    ],
    'eur': [
      500,
      1000,
      2500,
      5000,
      7500,
      10000,
      15000,
      20000,
      30000,
      40000,
      50000,
      80000,
      100000,
      200000,
      300000,
      400000
    ]
  };
  depositCalculatorPercents = {
    'rur': [
      '10.20',
      '10.30',
      '10.40',
      '10.50',
      '10.60',
      '10.70',
      '10.80'
    ],
    'usd': [
      '4,57',
      '4,60',
      '4,63',
      '4,67',
      '4,70',
      '4,80',
      '4,90'
    ],
    'eur': [
      '4,20',
      '4,25',
      '4,30',
      '4,35',
      '4,40',
      '4,50',
      '4,60'
    ]
  };
  depositMonths = [
    2,
    3,
    4,
    5,
    6,
    9,
    12
  ];
  depositCalculatorAddsummRates = {
    'rur': [
      0,
      10000,
      20000,
      30000,
      40000,
      50000,
      60000,
      70000,
      80000,
      90000,
      100000
    ],
    'usd': [
      0,
      300,
      600,
      1000,
      1300,
      1600,
      2000,
      2300,
      2600,
      3000,
      3300
    ],
    'eur': [
      0,
      300,
      600,
      1000,
      1300,
      1600,
      2000,
      2300,
      2600,
      3000,
      3300
    ]
  };
  depositCalculatorProperties = {
    'rur': {},
    'usd': {},
    'eur': {}
  };
  depositCalculatorProperties['rur']['ipad'] = [25000, 65000, '/images/media/deposit/0001/01/b3c78e148556bd3bdef365a10ccfb83c386942ce.png', [  'айпад',  'айпада',  'айпадов'  ]];
  depositCalculatorProperties['rur']['imac'] = [80000, 450000, '/images/media/deposit/0001/01/e615bb606428d39879f6b6f3d70eb5ae05b3de3d.png', [  'аймак',  'аймака',  'аймаков'  ]];
  depositCalculatorProperties['rur']['car'] = [750000, 2000000, '/images/media/deposit/0001/01/352bec1672a6901ca1c215b067346f7e19279c0a.png', [  'смарт',  'смарта',  'смартов'  ]];
  depositCalculatorProperties['rur']['yacht'] = [2500000, 5000000, '/images/media/deposit/0001/01/8051f1153417fc0f52bd6be8179c05dbc49375b0.png', [  'яхта',  'яхты',  'яхт'  ]];
  depositCalculatorProperties['rur']['house'] = [7000000, 20000000, '/images/media/deposit/0001/01/5d568a6a363dd4afcc0df16f3e61e151ff45fa38.png', [  'дом',  'дома',  'домов'  ]];
  depositCalculatorProperties['usd']['ipad'] = [700, 2030, '/images/media/deposit/0001/01/b3c78e148556bd3bdef365a10ccfb83c386942ce.png', [  'айпад',  'айпада',  'айпадов'  ]];
  depositCalculatorProperties['usd']['imac'] = [2500, 14060, '/images/media/deposit/0001/01/e615bb606428d39879f6b6f3d70eb5ae05b3de3d.png', [  'аймак',  'аймака',  'аймаков'  ]];
  depositCalculatorProperties['usd']['car'] = [23440, 62500, '/images/media/deposit/0001/01/352bec1672a6901ca1c215b067346f7e19279c0a.png', [  'смарт',  'смарта',  'смартов'  ]];
  depositCalculatorProperties['usd']['yacht'] = [78120, 156250, '/images/media/deposit/0001/01/8051f1153417fc0f52bd6be8179c05dbc49375b0.png', [  'яхта',  'яхты',  'яхт'  ]];
  depositCalculatorProperties['usd']['house'] = [218750, 625000, '/images/media/deposit/0001/01/5d568a6a363dd4afcc0df16f3e61e151ff45fa38.png', [  'дом',  'дома',  'домов'  ]];
  depositCalculatorProperties['eur']['ipad'] = [610, 1580, '/images/media/deposit/0001/01/b3c78e148556bd3bdef365a10ccfb83c386942ce.png', [  'айпад',  'айпада',  'айпадов'  ]];
  depositCalculatorProperties['eur']['imac'] = [1950, 10970, '/images/media/deposit/0001/01/e615bb606428d39879f6b6f3d70eb5ae05b3de3d.png', [  'аймак',  'аймака',  'аймаков'  ]];
  depositCalculatorProperties['eur']['car'] = [18300, 48780, '/images/media/deposit/0001/01/352bec1672a6901ca1c215b067346f7e19279c0a.png', [  'смарт',  'смарта',  'смартов'  ]];
  depositCalculatorProperties['eur']['yacht'] = [60980, 121950, '/images/media/deposit/0001/01/8051f1153417fc0f52bd6be8179c05dbc49375b0.png', [  'яхта',  'яхты',  'яхт'  ]];
  depositCalculatorProperties['eur']['house'] = [170730, 487800, '/images/media/deposit/0001/01/5d568a6a363dd4afcc0df16f3e61e151ff45fa38.png', [  'дом',  'дома',  'домов'  ]];

= render template: "live/blocks/product_information/vklad_na_srok"

%section
  .row
    .columns.small-12.text-center
      %h2.margin-bottom-20
        Все для удобства и безопасности
  .row.large-text-centred
    .columns.small-12.large-centered.large-10
      .row
        .columns.large-4.small-12
          .row
            .columns.small-2.large-12
              %p
                =image_tag "features/0001/01/1b2bba10b814c7b4ccdc6e638a99571e83f76727.png", :style => "width:150px"
            .columns.small-10.large-12
              %h4
                Любая валюта
              %p.small
                Открывайте один или несколько вкладов в&nbsp;рублях, евро или долларах США.
        .columns.large-4.small-12
          .row
            .columns.small-2.large-12 
              %p
                =image_tag "features/0001/01/04a8382228b82c0b5a521eaf0a91c70817e3e58d.png", :style => "width:150px"
            .columns.small-10.large-12
              %h4
                Начисление процентов на любой счет в Банке
              %p.small
                Проценты по&nbsp;вкладу начисляются каждый месяц по&nbsp;вашему выбору: на&nbsp;текущий счет, на карту, на&nbsp;счет вклада (капитализация) или&nbsp;счет другого клиента Банка.
        .columns.large-4.small-12
          .row
            .columns.small-2.large-12
              %p
                =image_tag "features/0001/01/25f5c27478119066442b304a2b1e5b4b4b673123.png", :style => "width:150px"
            .columns.small-10.large-12
              %h4
                Пополнение вклада без комиссии
              %p.small
                Пополнять Вклад вы&nbsp;можете так, как вам удобно: переводом из&nbsp;другого банка, перечислением со&nbsp;своих счетов в&nbsp;2TБанке через Интернет-Банк, через кассу в&nbsp;отделениях 2ТБанка или через банкомат при помощи банковской карты.

%section.padding-40
  .row
    .columns.small-10.text-center.margin-bottom-35.small-offset-1
      %h2
        Больше бонусов — больше времени
      %p
        Открывая Вклад на срок в 2ТБанке вы получаете комплекс бесплатных услуг, включая текущий счет. Текущий счет в 2TБанке позволяет оплачивать через Интернет-Банк любые услуги онлайн и без комиссии — вы экономите свои время и деньги.

= render template: "live/blocks/product_services/vklad_na_srok"

%section
  .row
    .columns.small-10.small-centered

      .row.padding-40
        .columns.small-3.large-5.small-centered.large-uncentered
          =image_tag "/images/filer_public/2013/03/30/25d874620eb5d078da4c51d2b762319c3cf79ee5.png"
        .columns.small-12.large-7.text-center
          %p
            Для большего удобства вы получите карту MasterCard Standard — для оплаты товаров и услуг, снятия наличных и пополнения счета.
          %p
            Согласно нашим принципам мы выпускаем эту карту 
            %em бесплатно
            , без комиссии за обслуживание и без необходимости брать деньги в кредит. Кроме того, мы сделали возможным снятие наличных без 
            %em 
            комиссии в банкомате 
            %em любого 
            банка в любой точке мира.
          %p
            %a{href: "/debetovye-karty/"} Подробнее про карту

= render template: "live/blocks/product_documents/vklad_na_srok"


= render template: "live/blocks/product_questionnaire/vklad_na_srok"

%section.padding-top-200

%section.section-bg-blue.shadow-inset-top.padding-40
  .row
    .columns.small-12.map.mainPage.map-contacts
      .sub-border-top.columns.small-11.small-centered
      = render template: "shared/map_header"
      = render template: "shared/map"

= render template: "live/blocks/product_insured/vklad_na_srok"

= render template: "live/blocks/product_feedbacks/credit_transfer"
