%form#questionnaire.questionnaire.custom{autocomplete: "off", data: {form: {type: "pifanket"}}}
  #questionnaire-fixed.quest-nav-fixed.text-center
    %a#teaser_short{href: "#"}Заполните заявку
    = teaser
  .quest-main-top-corner
  .quest-main-center-bg
    .row
      .quest-main-block.columns.small-12
        .row
          .columns.small-12.text-center
            %h1
              = anket_title

        = render template: "live/blocks/product_questionnaire/anket_partials/data_start_short"

  .quest-main-bottom-bg
  
/ Modals
= render template: "live/blocks/product_questionnaire/anket_modals/modal_close"

= render template: "live/blocks/product_questionnaire/anket_modals/modal_success"
